<ul class="squid-api-data-widgets-metric-widget">
{{#if noChosenMetrics}}
	<div class="information">No Metrics have been chosen</div>
{{else}}
    {{#each chosenMetrics}}
    	{{#if this.selectMetric}}
    		<li class="item {{this.selected}}" data-selected="{{this.attrSelected}}" data-content="{{this.value}}">
    		{{else}}
    		<li class="item" data-selected="{{this.attrSelected}}" data-content="{{this.value}}">
    	{{/if}}
        	<div class="name">{{this.name}}</div>
        	{{#if this.displayMetricValue}}
        		<div class="value">{{this.total.value}}</div>
        	{{/if}}
        </li>
    {{/each}}
{{/if}}
</ul>