<ul class="chosen-metrics">
    {{#each chosenMetrics}}
        <li class="item {{this.selected}}" data-selected="{{this.attrSelected}}" data-content="{{this.value}}">
        	<div class="name">{{this.name}}</div>
        	<div class="value">{{this.total.value}}</span>
        </li>
    {{/each}}
</ul>
