<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Export</h2>
			<label>Format</label> 
			<input type="radio" name="format" value="csv" {{#if formatCSV}}checked{{/if}}> csv 
			<input type="radio" name="format" value="json" {{#if formatJSON}}checked{{/if}}> json
		</div>
		<div class="col-md-12">
			<label>Compression</label> <input type="checkbox" name="compression" {{#if compression}}checked{{/if}}> gzip
		</div>
		<div class="col-md-12">
			<h3>Download</h3>
			<a href="{{export}}" class="btn btn-default">Download</a> current analysis results
		</div>
		<div class="col-md-12">
			{{#if data}}
				<h3>cURL process</h3>
				<h4>1 - get an authentication token</h4>
				<pre class="curl">
					curl '{{apiURL}}/v4.2/rs/auth-token' -H 'Origin: {{origin}}' -H 'Accept-Encoding: gzip,deflate' -H 'Content-Type: application/x-www-form-urlencoded' -H 'Accept: */*' -H 'Cache-Control: no-cache' --data 'client_id={{clientId}}&redirect_uri={{redirectURI}}&login=<b>[login]</b>&password=<b>[password]</b>'
				</pre>
				<h4>2 - download the export</h4>
				<pre class="curl">
					curl '{{curl}}' -H 'Origin: {{origin}}' -H 'Accept-Encoding: gzip,deflate' -H 'Content-Type: application/json' -H 'Accept: application/json, text/javascript, */*; q=0.01' --data-binary $'{{data}}' --compressed
				</pre>
			{{/if }}
		</div>
	</div>
</div>



