<div class="panel panel-default filter-panel">
	<div class="panel-heading">
		<button type="button" class="close" data-toggle="collapse"
			data-target="{{data-target}}" data-clavier="true" aria-hidden="true">
			<i class="glyphicon glyphicon-chevron-up"></i>
		</button>
		<h4 class="panel-title" id="myModalLabel">Export</h4>
	</div>
	<div class="panel-body">
		<div>
			<label>Format</label> 
			<input type="radio" name="format" value="csv" {{#if formatCSV}}checked{{/if}}> csv 
		</div>
		<div>
			<label>Compression</label> <input type="checkbox" name="compression" {{#if compression}}checked{{/if}}> gzip
		</div>
		<div>
			<h3>Direct Download</h3>
			<a href="#" class="btn btn-default" id="download">Download</a> analysis results
		</div>
		<div>
			{{#if data}}
				<h3>cURL process</h3>
				<h4>1 - get an authentication token</h4>
				<pre class="curl">
curl '{{apiURL}}/v4.2/rs/auth-token' -H 'Origin: {{origin}}' -H 'Accept-Encoding: gzip,deflate' -H 'Content-Type: application/x-www-form-urlencoded' -H 'Accept: */*' -H 'Cache-Control: no-cache' --data 'client_id={{clientId}}&redirect_uri={{redirectURI}}&login=<b>[login]</b>&password=<b>[password]</b>'
				</pre>
				<h4>2 - download the export</h4>
				<pre class="curl">
curl '{{curl}}' -H 'Origin: {{origin}}' -H 'Accept-Encoding: gzip,deflate' -H 'Content-Type: application/json' -H 'Accept: application/json, text/javascript, */*; q=0.01' --data-binary $'{{data}}' --compressed
				</pre>
			{{/if }}
		</div>
	</div>
</div>



