<div class="orderby-container squid-api-data-widgets-orderby-widget {{#if disabled}} disabled {{/if}}">
	{{#if limit}}
		<div class="pull-left">
			<table>
				<tr>
					<td>
						<span class="preview" style="font-size : 14px; padding-right: 5px; position: relative; top: 3px;">Preview</span>
					</td>
					<td>
						{{#if removeOrderDirection}}
							<span class="orderby-direction" style="top: 3px; position: relative; font-weight: bold; font-size: 14px;">{{orderByDirectionDisplay}}<span>
						{{else}}
							<div class="onoffswitch">
			    				<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" {{#if checked}}checked{{/if}}>
			    				<label class="onoffswitch-label" for="myonoffswitch">
			        				<span class="onoffswitch-inner"></span>
			       				 	<span class="onoffswitch-switch"></span>
			    				</label>
							</div>
						{{/if}}
					</td>
					<td>
						&nbsp;
						<span style="font-size : 14px; font-weight: bold; padding-right: 5px; position: relative; top: 4px;">{{limit}}</span> <label style="position: relative; top: 4px; font-weight: normal;">by</label> <select class="sq-select form-control" style="display: inline-block; position: relative; bottom: 5px; max-width: 100px;">
							{{#each Columns}}
								<option {{#if selected}} selected="selected" {{/if}} value="{{value}}">{{label}}</option>
							{{/each}}
						</select>
					</td>
				</tr>
			</table>
		</div>
	{{/if}}
</div>
