{{#if selAvailable}}
    <select class="sq-select form-control squid-api-data-widgets-metric-selector" {{#if multiple}}multiple{{/if}}>
        {{#if empty}}
            <option disabled="true">No metrics available</option>
        {{/if}}
        {{#each options}}
            <option value="{{value}}" {{#if selected}}selected{{/if}}>
                {{label}}
            </option>
        {{else}}
    {{/each}}
</select>
{{else}}
    <!-- just display filter name -->
    <label>{{name}}</label>
    <span>-</span>
{{/if}}
