{{#if this}}
	<div class='sq-kpi squid-api-data-widgets-kpi-widget'>
		<span class="value" style="font-size: large;">{{value}}</span><span class="unit">{{unit}}</span>
	    <span class="name">
	        {{name}}
	    </span>
	</div>
{{else}}
	{{#if done}}
  		No Data
  	{{else}}
  		Computing
  	{{/if}}
{{/if}}